<head>

<style>
.newspaper {
 
  colum<n-gap: 200px;
}
 tr:hover {
  background-color: #ab0f24;
}
</style>
</head>
<body style="text-align:center;background-image:url('http://cleancarelinen.com/wp-content/uploads/2018/03/history-of-the-hospital-bed.jpg'); ">

<div class='newspaper' id ='div1'>
    <table cellpadding="20"style="    margin-left:30%;
    margin-right:15%;  border: 5px solid; border-collapse: collapse;background-color: #F1F9C6">
    <b>
    <tr style="border-bottom: solid;">
    <td> <b>DOCTOR </b></td>
    <td> <b>Phone Number </b></td>
    <td> <b>Status</b> </td>
    </tr>
        <tr>
            <td style="">Dr. Sanjeev Jain</td>
            <td style="">9893536560 </td>
            <td>{{status1}}</td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
        <td style="">Dr. Rahul Arora </td>
            <td style="">9425556030</td>
             <td>{{status2}}</td>
        </tr>
         <tr></tr>
           <tr></tr>
        <tr>
        <td style="">Dr. Santosh Tyagi </td>
            <td style="">9425556037</td>
             <td>{{status3}}</td>
        </tr>
         <tr></tr>
           <tr></tr>
         <tr>
        <td style="">Dr. Anurag tripathi </td>
            <td style="">2825556030</td>
             <td>{{status4}}</td>
        </tr>
         <tr></tr>
           <tr></tr>
            <tr>
        <td style="">Dr. hardik sharma </td>
            <td style="">9025556030</td>
             <td>{{status5}}</td>
        </tr>
         <tr></tr>
           <tr></tr>
            <tr>
        <td style="">Dr. Feroz shah </td>
            <td style="">9425556048</td>
             <td>{{status6}}</td>
        </tr>
         <tr></tr>
           <tr></tr>
            <tr>
        <td style="">Dr. Vivek goyal</td>
            <td style="">9425556039</td>
             <td>{{status7}}</td>
        </tr>
        <tr></tr>
        <tr>
            <td>
                Dr. Soniya Singh
            </td>
            <td>9812340981</td>
            <td>{{status8}}</td>
        </tr>
         <tr></tr>
           <tr></tr>
       </b>
    </table>
</div>

</body>

