<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Doctor Status</title>
  <!-- <link rel="icon" href="http://mapmyindia.com/images/favicon.ico" type="image/x-icon"> -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="LandingPage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script id="gs-sdk" src='//www.buildquickbots.com/botwidget/v3/demo/static/js/sdk.js?v=3' key="d0266271-9df0-4fb9-90e2-218e86846331" ></script>
<title>Doctors_client</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>

 tr:hover {
  background-color: green;
  color:white;
}
body{
  background-repeat: no-repeat;
  background-size:cover;
}

table{
  border:5px solid black;
  background-color: #F1F9C6;
  width:500px;
}

td,th{
  height:50px;
  padding-left:5px;
}

</style>
</head>


<body style="text-align:center;background-image: url('http://cleancarelinen.com/wp-content/uploads/2018/03/history-of-the-hospital-bed.jpg'); ">


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/main">Home</a></li>
      <li><a href="/bed">Current bed status</a></li>

        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Government Schemes
        <span class = "caret"></span></a>
        <ul class="dropdown-menu">
          <li><a  target="_blank"   href="https://www.nhp.gov.in/national-health-insurance-schemes_pg">Rashtiya Swasthiya Bima Yojana (RSBY)</a></li>
          <li><a href="https://www.nhp.gov.in/national-health-insurance-schemes_pg" target="_blank">Employment State Insurance Scheme (ESIS)</a></li>
          <li><a href="https://www.nhp.gov.in/national-health-insurance-schemes_pg" target="_blank">Central Government Health Scheme (CGHS)</a></li>
          <li><a href="https://www.nhp.gov.in/national-health-insurance-schemes_pg" target="_blank">Aam Aadmi Bima Yojana (AABY)</a></li>
          <li><a href="https://www.nhp.gov.in/national-health-insurance-schemes_pg" target="_blank">Janashree Bima Yojana (JBY)</a></li>
          <li><a href="https://www.nhp.gov.in/national-health-insurance-schemes_pg" target="_blank">Universal Health Insurance Scheme (UHIS)</a></li>
        </ul>
      </li>


      <li><a href="#">Pharmacy</a></li>
      <li><a href="/doctor-client">Status of Doctors</a></li>
      <li><a href="/upload">Report Collection</a></li>
      <li><a href="#">Feedback</a></li>

    </ul>
    <form class="navbar-form navbar-right" action="/action_page.php" style="float:right">
      <div class="input-group">
        <input style ="float:right; width:100px"type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-btn">
          <button class="btn btn-default" style ="width:50px" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</nav>







<center>
  <table >

    <tr style="border-bottom: solid black;">
    <th> DOCTOR </th>
    <th> PHONE </th>
    <th> STATUS </th>
    </tr>
        <tr>
            <td style="">Dr. Sanjeev Jain</td>
            <td style="">9893536560 </td>
            <td>{{status1}}</td>
        </tr>
       
        <tr>
        <td style="">Dr. Anurag Triphati </td>
            <td style="">9425556030</td>
             <td>{{status2}}</td>
        </tr>
         <tr></tr>
           <tr></tr>
        <tr>
        <td style="">Dr. Santosh Tyagi </td>
            <td style="">9425556037</td>
             <td>{{status3}}</td>
        </tr>
         <tr></tr>
           <tr></tr>
         <tr>
        <td style="">Dr. Feroz Shah </td>
            <td style="">2825556030</td>
             <td>{{status4}}</td>
        </tr>
         <tr></tr>
           <tr></tr>
            <tr>
        <td style="">Dr. Hardik Sharma </td>
            <td style="">9025556030</td>
             <td>{{status5}}</td>
        </tr>
         <tr></tr>
           <tr></tr>
            <tr>
        <td style="">Dr. Rahul Arora </td>
            <td style="">9425556048</td>
             <td>{{status6}}</td>
        </tr>
         <tr></tr>
           <tr></tr>
            <tr>
        <td style="">Dr. Vivek Goyal</td>
            <td style="">9425556039</td>
             <td>{{status7}}</td>
        </tr>
        <tr></tr>
        <tr>
            <td>Dr. Soniya Singh</td>
            <td>98211234181</td>
            <td>{{status8}}</td>
        </tr>
    </table>
  </center>
</body>
</html>
